.half-circle-card {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50% 50% 0 0;
  background-color: blueviolet;
  /* This creates a half-circle arch shape */
}

/* .triangle-card {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  position: relative;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
/* This creates a triangle shape */
/* } */
